
/* Speed css*/


.speed__test{
    text-align: center;
}
.speed__testone{
    min-height: 360px;
}
.speed__testtwo{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
}

.ifr__speed{
    border: none;
    position: absolute;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    min-height: 360px;
    overflow: hidden !important;
}



@media only screen and (max-width: 426px){
    .speed__test{
        text-align: center;
        margin-left: -150px;
    }

}
